.Weather {
    font-family: ariel, sans-serif;
    border: 5px solid rgb(119, 161, 211);
    border-radius: 5px;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f6f63c);
    padding: 16px;
    margin: 30px auto;
    border-radius: 4px;
    color: rgb (135, 135, 135);
    
}



.Weather h1{
    font-size: 24px;
    font-weight: 100;
    text-shadow: 5px 5px 10px rgba(229, 16, 245, 0.4);
color: #272142;
    margin: 0;
    line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather canvas {
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}

.Weather .temperature {
    font-weight: bold;
    color: rgb (33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    
    

}

.Weather .unit {
    color: rgb (33, 33, 33);
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    position: relative;
    top: -32px;
    
}
